<div class="panel-body">
    <div class='row'>
        <div class='col-lg-12'>
            <b>Customer Details</b>
        </div>
    </div>
    <div class='row'>
        <br>
        <div class='col-lg-12'>
            <b>Sales Details</b>
        </div>
    </div>
    <div class='row'>
        <br>
        <div class='col-lg-12'>
            <b>Offer Details</b>
        </div>
    </div>
    <div class='row'>
        <br>
        <div class='col-lg-12'>
            <b>Payment Details</b>
        </div>
    </div>
    <div class='row'>
        <br>
        <div class='col-lg-12' style="text-align: end">
            <button class="btn btn-default" style="padding-top:0px;padding-bottom:0px;margin-top: -3.5px;margin-left: 3px">
                    Distribute<br>Method
            </button>
            <button class="btn btn-default" style="padding-top:0px;padding-bottom:0px;margin-top: -3.5px;margin-left: 3px">
                    Digital<br>Signature
            </button>
            <button class="btn btn-default" style="padding-top:0px;padding-bottom:0px;margin-top: -3.5px;margin-left: 3px">
                    AF<br>Generation
            </button>
            <button class="btn btn-primary" style="padding-top:10px;padding-bottom:10px;margin-top: -3.5px;margin-left: 3px">
                Next
            </button>
        </div>
    </div>
</div>