<div class="panel-body">
    <div class='row'>
        <div class='col-lg-12'>
            <b>Customer Details</b>
        </div>
    </div>
    <div class='row'>
        <br>
        <div class='col-lg-12'>
            <b>Sales Details</b>
        </div>
    </div>
    <div class='row'>
        <br>
        <div class='col-lg-12'>
            <b>Offer Details</b>
            <div>
                <table style='border:none;width:100%'>
                    <th></th>
                    <tr>
                        <td>Apple IPHONE XS 256GB Silver</td>
                    </tr>
                    <tr>
                        <td>Handset Rebate :</td>
                        <td>$9,099</td>
                    </tr>
                    <tr>
                        <td>
                            <div style='padding-left:20px'>24 months service contract</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div style='padding-left:20px'>Full Rebate ($379 x 23 + $382 x 1)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>$738 Ultra Speed User Service Plan: </td>
                        <td>$738</td>
                    </tr>
                    <tr>
                        <td>Commitment period: 24 months (from Service Commencement Date)</td>
                    </tr>
                    <tr>
                        <td>
                            <div style='padding-left:20px'>Voice Call (min): Unlimited (normal)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style='padding-left:20px'>SMS: 500 (Intra-network) (The First 500 SMS Additional Charge
                                : $0.6 Inter/ $2 International; Thereafter Charge : $0.3 Intra/ $0.8 Inter/ $3
                                International)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style='padding-left:20px'>SMS: 10 (International)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style='padding-left:20px'>MMS: 200 (Intra-network) (Thereafter Charge : $2 Intra &
                                Inter/ $5 International)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style='padding-left:20px'>Mobile Data: 20GB (Local Mobile Data Top Up: $28/200MB or
                                $50/1GB)</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>&nbsp;</div>
                        </td>
                    </tr>
                    <tr>
                        <td>MTR/Tunnels/Mobile License/Administration Fee:</td>
                        <td>$18</td>
                    </tr>
                    <tr>
                        <td>
                            <div>&nbsp;</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Inter-network SMS: 90 SMS (24M): </td>
                        <td>$39</td>
                    </tr>
                    <tr>
                        <div style='padding-left:20px'>
                            <td>thereafter charge $0.5/SMS</td>
                        </div>
                    </tr>
                </table>
                <div class='br'>
                    <b>Sales Information</b>
                </div>
                <div class='row form-group'>
                    <div class='col-lg-4'>
                        <div class="text-muted">Staff No.</div>
                        <input class="form-control" disabled value='T00423444'>
                    </div>
                    <div class='col-lg-4'>
                        <div class="text-muted">Staff Name</div>
                        <input class="form-control" disabled value='GIGI LEE'>
                    </div>
                </div>
                <div class='row form-group'>
                    <div class='col-lg-4'>
                        <div class="text-muted">Contact No.</div>
                        <input class="form-control" disabled value='28843321'>
                    </div>
                </div>
                <div class='row form-group'>
                    <div class='col-lg-4'>
                        <div class="text-muted">Referrer</div>
                        <input class="form-control" disabled>
                    </div>
                    <div class='col-lg-4'>
                        <div class="text-muted">Referrer Name</div>
                        <input class="form-control" disabled>
                    </div>
                </div>
                <table style='border:none;width:100%' class='br'>
                    <tr>
                        <td>Capacity data package (24M)(20GB)($58)+Free Viu (CAP2019JUN): </td>
                        <td>$58</td>
                    </tr>
                    <tr>
                        <td style='padding-left:20px'>Basic Entitlement (Top-Up Plan)(20GB)</td>
                    </tr>
                </table>
                <div class='br'>
                    <b>Sales Information</b>
                </div>
                <div class='row form-group'>
                    <div class='col-lg-4'>
                        <div class="text-muted">Staff No.</div>
                        <input class="form-control" disabled value='T01645453'>
                    </div>
                    <div class='col-lg-4'>
                        <div class="text-muted">Staff Name</div>
                        <input class="form-control" disabled value='PAUL CHAN'>
                    </div>
                </div>
                <div class='row form-group'>
                    <div class='col-lg-4'>
                        <div class="text-muted">Contact No.</div>
                        <input class="form-control" disabled value='28842212'>
                    </div>
                </div>
                <div class='row form-group'>
                    <div class='col-lg-4'>
                        <div class="text-muted">Referrer</div>
                        <input class="form-control" disabled>
                    </div>
                    <div class='col-lg-4'>
                        <div class="text-muted">Referrer Name</div>
                        <input class="form-control" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <br>
        <div class='col-lg-12'>
            <b>Payment Details</b>
        </div>
    </div>
    <div class='row'>
        <br><br>
        <div class='col-lg-12'>
            <b>Form Generation</b>
        </div>
    </div>
    <div class='row'>
        <br>
        <div class='col-lg-12'>
            <table class="table">
                <thead>
                    <tr>
                        <th>Document Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of ['Application Form','MNP Form']">
                            <td><a>{{i}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class='row'>
        <br>
        <div class='col-lg-12' style="text-align: end">
            <button class="btn btn-default"
                style="padding-top:0px;padding-bottom:0px;margin-top: -3.5px;margin-left: 3px">
                Distribute<br>Method
            </button>
            <button class="btn btn-default"
                style="padding-top:0px;padding-bottom:0px;margin-top: -3.5px;margin-left: 3px">
                Digital<br>Signature
            </button>
            <button class="btn btn-default"
                style="padding-top:0px;padding-bottom:0px;margin-top: -3.5px;margin-left: 3px">
                AF<br>Generation
            </button>
            <button class="btn btn-primary"
                style="padding-top:10px;padding-bottom:10px;margin-top: -3.5px;margin-left: 3px" (click)='next()'>
                Next
            </button>
        </div>
    </div>
</div>