// a{
//     text-decoration:none;
//     cursor:pointer;
//     color: #777;
// }
// a:hover{ 
//     color:black
// }

.menu-link{
    text-decoration:none;
    cursor:pointer;
    color: #777; 
}

.menu-link:hover{
    color:black
}