<div class="panel-body">
    <div class='row col-lg-12'>
        Service Instance
    </div>
    <div class='row' *ngIf="this.configType=='group'">
        <div class='col-lg-3'>
            <!-- <p-multiSelect [options]="cars" [style]="{width:'300px'}" [showHeader]="false"></p-multiSelect> -->
            <input class="form-control" [(ngModel)]="this.su.groupName" />
        </div>
    </div>
    <div class='row' *ngIf="this.configType!='group'">
        <div class='col-lg-3'>
            <!-- <p-multiSelect [options]="cars" [style]="{width:'300px'}" [showHeader]="false"></p-multiSelect> -->
            <select class="form-control" (change)="changeServiceInstance($event)" [value]="serviceInstance.id">
                <option *ngFor="let si of su.subscribers" [value]="si.id">{{'('+si.desc+') '+si.value}}</option>
            </select>
        </div>
    </div>
    <div class="br"></div>
    <div class="br"></div>
    <div class="br"></div>
    <div class='row col-lg-12'>
        <b>
            <div>{{su.product.detail.name}}{{' ('+su.product.config?.color+')'}}</div>
            <div>{{su.product.plan.name}} {{su.product.plan.localData+'GB Local Data'}}</div>

        </b>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <mat-tab-group [selectedIndex]="this.configType=='group'?1:1">
                <mat-tab label="Sales Configure" [disabled]="this.configType=='group'">
                    <div class="row col-lg-12 br">
                        <b>Subscriber Option</b>
                    </div>
                    <div class="col-lg-12 br">
                        <p-checkbox name="group1" value="New York" label="Suppress local mobile data top-up option"
                            inputId="ny"></p-checkbox>
                    </div>
                    <div class="col-lg-12 br">
                        <p-checkbox name="group1" value="San Francisco"
                            label="Suppress roaming mobile data top-up option" inputId="sf">
                        </p-checkbox>
                    </div>
                    <div class="col-lg-12 br">
                        <p-checkbox name="group1" value="Los Angeles" label="Suppress IDD0060 registration option"
                            inputId="la">
                        </p-checkbox>
                    </div>
                    <div class="row col-lg-12 br">
                        <b>Local / Roaming Data Alert Setting</b>
                    </div>
                    <div class='col-lg-12 row br'>
                        <div class="col-lg-4">
                            <div class="text-muted">Alert Type</div>
                            <select class="form-control">
                                <option>SMS and Email</option>
                                <option>SMS only</option>
                                <option>Email only</option>
                            </select>
                        </div>
                    </div>
                    <div class="row col-lg-12 br">
                        <div class='col-lg-4'>
                            <div class="text-muted">Email Address</div>
                            <input class="form-control">
                        </div>
                        <div class='col-lg-4 br'>

                            <p-checkbox name="group1" value="Los Angeles" label="Same as Email Billing Address"
                                inputId="la">
                            </p-checkbox>
                        </div>
                    </div>

                    <div class="row col-lg-12 br">
                        <div class='col-lg-4'>
                            <div class="text-muted">SMS Alert Recipient</div>
                            <select class="form-control">
                                <option>Original Mobile Number Only</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class='col-lg-4'>
                            <div class="text-muted">2nd Mobile Number</div>
                            <input class="form-control">
                        </div>
                    </div>

                    <div class="row col-lg-12" style="margin-bottom:10px">
                        <div class="col-lg-12 br">
                            <p-checkbox name="group1" value="New York"
                                label="Customer opt-out 1st data roaming usage reminder SMS" inputId="ny"></p-checkbox>
                        </div>
                        <div class="col-lg-12 br">
                            <p-checkbox name="group1" value="San Francisco"
                                label="Customer opt-out data roaming high usage alert SMS" inputId="sf">
                            </p-checkbox>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab label="Fulfillment Configure">
                    <ng-container *ngIf="this.configType=='group'">
                        <div class="text-muted">Send Top Up Alert to</div>
                        <div class='row col-lg-12'>
                            <div class='col-lg-3'>
                                <select class="form-control">
                                    <option value="1">Primary+Members</option>
                                    <option value="2">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class='row col-lg-9'><label></label></div>
                    </ng-container>

                    <ng-container *ngIf="this.configType!='group'">
                        <div class='row col-lg-3 br'>
                            <label><input type="radio" value="nmn" name="numType" [(ngModel)]="numType">New Mobile
                                Number</label>
                        </div>
                        <div class='row col-lg-9 br'>
                            <label><input type="radio" value="mnp" name="numType" [(ngModel)]="numType">MNP</label>
                        </div>
                        <ng-container #NMN *ngIf="numType=='nmn'">
                            <div class='row col-lg-3 br'>
                                <div class='text-muted'>Service Request date</div>
                                <select class="form-control">
                                    <option *ngFor='let item of [].constructor(5); let i = index'
                                        value="{{(today-60*60*24*1000*i)|date: 'ddMMyyyy'}}">
                                        {{(today-60*60*24*1000*i)|date: 'dd MMM yyyy'}}</option>
                                </select>
                            </div>
                            <div class='row col-lg-12 br'>
                                <b>Number Information</b>
                            </div>
                            <div class='row col-lg-2'>
                                <button type="button" class="btn btn-default btn-wrap" (click)="openDialog()">
                                    Select<br>Number
                                </button>
                            </div>
                            <div class='row col-lg-2'>
                                <label><input type="checkbox" value="afterwards" name="afterwards">MNP
                                    afterwards</label>
                            </div>
                            <div class="row br col-lg-12">
                                <b>SIM Selection (Handset SIM Slot: Nano)</b>
                            </div>
                            <div class="row col-lg-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>SIM Type</th>
                                            <th>Charge Amt</th>
                                            <th>Waive<br>Indicator</th>
                                            <th>Waive Reason</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i of [1,2]">
                                            <td width="25%"><input type="radio" value="nmn" name="simType">CU JOC CSL
                                                64K
                                                SIMTRIO-H(C)</td>
                                            <td width="15%">$0</td>
                                            <td width="10%">No</td>
                                            <td></td>
                                            <td><a>Edit</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                        <ng-container #MNP *ngIf="numType=='mnp'">
                            <div class="row col-lg-12 br">
                                <div class="col-lg-4">
                                    <div class="text-muted">Cut over date</div>
                                    <select class="form-control">
                                        <option *ngFor='let item of [].constructor(5); let i = index'
                                            value="{{(today-60*60*24*1000*i)|date: 'ddMMyyyy'}}">
                                            {{(today-60*60*24*1000*i)|date: 'dd MMM yyyy'}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-muted">Cut over time</div>
                                    <select class="form-control">
                                        <option value="1200-1400">
                                            12:00 - 14:00</option>
                                        <option value="1400-1600">
                                            14:00 - 16:00</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row col-lg-12 br">
                                <b>Number Information</b>
                            </div>

                            <div class='row col-lg-12 br'>
                                <div class="col-lg-4">
                                    <div class="text-muted">Number to transfer</div>
                                    <input class="form-control" type="text">

                                </div>
                                <div class="col-lg-1">
                                    <div class="text-muted">&nbsp;</div>
                                    <button class="btn btn-default">Check</button>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-muted">Ticket No.</div>
                                    <input class="form-control" type="text" value="124432" disabled>
                                </div>
                            </div>

                            <div class='row col-lg-12 br'>
                                <div class="col-lg-4">
                                    <div class="text-muted">
                                        Old Customer Name
                                        <label style="margin-bottom:0px" class='pull-right'><input type="checkbox"
                                                value="PrepaidSIM" name="afterwards">Prepaid SIM</label>
                                    </div>
                                    <input class="form-control" type="text">

                                </div>
                                <div class="col-lg-4">
                                    <div class="text-muted">Old Customer Document No / Prepaid SIM No.</div>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="row br col-lg-12">
                                <b>SIM Selection (Handset SIM Slot: Nano)</b>
                            </div>
                            <div class="row col-lg-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>SIM Type</th>
                                            <th>Charge Amt</th>
                                            <th>Waive<br>Indicator</th>
                                            <th>Waive Reason</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i of [1,2]">
                                            <td width="25%"><input type="radio" value="nmn" name="simType">CU JOC CSL
                                                64K
                                                SIMTRIO-H(C)</td>
                                            <td width="15%">$0</td>
                                            <td width="10%">No</td>
                                            <td></td>
                                            <td><a>Edit</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                    </ng-container>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<div class='row col-lg-12' style="text-align: right">
    <button class="btn btn-primary" (click)="confirm()">Close</button>
</div>