<div mat-dialog-content class="panel-body">
    <div class='row'>
        <div class='col-lg-12'><b>New Number Selection</b></div>
        <div class='radio-button hidden-xs hidden-sm'>&nbsp;</div>
    </div>
    <div class='row'>
        <div class='col-lg-2 br'>
            <label><input type="radio" name="numTypae" value="random"> Random</label>
        </div>
        <div class='col-lg-2 br'>
            <label><input type="radio" name="numTypae" value="pattern"> Pattern</label>
        </div>
        <div class='col-lg-4 br'>
            <input class="form-control">
        </div>
        <div class='col-lg-4'>
            <div class="text-muted">Grade</div>
            <select class="form-control">
                <option name="grade" value="a">Golden A</option>
                <option name="grade" value="b">Golden B</option>
            </select>
        </div>
    </div>
    <div class='row br'>
        <div class='col-lg-12' style="text-align:right">
            <button mat-stroked-button (click)="getNumList()" style='margin-right:10px'>Search</button>
            <button mat-stroked-button (click)="getNumList()">Clear</button>
        </div>
    </div>

    <div class='row br'>
        <div class='col-lg-12'>
            <div class="text-muted">Number List</div>
        </div>
    </div>
    <div class='row' *ngFor='let item of [].constructor(2);let i = index'>
        <div class='col-lg-3 br' *ngFor='let num of [].constructor(4);let j = index'>
            <button mat-stroked-button [class.num-chosen]='selectedNum==(90000000+i*4+j)' style='width:100%' (click)='selectedNum=(90000000+i*4+j)'>{{90000000+i*4+j}}</button>
        </div>
        
    </div>
    <div class='row br'>
        <div class='col-lg-12' style="text-align: right">
            <button blue mat-button
                [mat-dialog-close]="selectedNum" cdkFocusInitial>Confirm</button>
        </div>
    </div>
</div>