<form [formGroup]="hero">
	<div class="form-group">
		<label for="">Name:</label>
    <input #t class="form-control" formControlName="name" id="name" required>
    <ng-container *ngIf="name.invalid">invalid</ng-container>
    <ng-container *ngIf="!name.invalid">valid</ng-container>
    {{name.errors |json}} 
    </div>
  <div class="form-group">
    <label for="">Power: </label>
    <select class="form-control" formControlName="power" name="power">
      <option  *ngFor="let power of powers" [value]="power">{{power}}</option>
    </select>
  </div>
  
</form>