<!-- <app-parta></app-parta>
<app-partb></app-partb>
<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav> -->
<router-outlet></router-outlet>
<br><br>
<p>
part main works!
</p>

<button on-click="test.addCount()">click</button>
<app-messages></app-messages>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->