
<nav class="navbar navbar-inverse" style="border-radius:0px">
    <a class="navbar-brand">HKT</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="dashboard/basicinfo">Dashboard<app-bubble text="84"></app-bubble></a></li>
        <li class="nav-item"><a class="nav-link" routerLink="search">Sales Order Search</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="details">Sales Order Details</a></li>
    </ul>
</nav> 

<!-- <h1>{{title}}</h1> -->
<!-- <nav> -->
<!-- <a routerLink='/dashboard'>
        DashBoard
    </a>
    <a routerLink='/heros'>
        Heros
    </a> -->
<!-- </nav> -->

<!-- <div class='col-lg-3' style="max-height: 100px;z-index:1">
        <app-shopping-cart></app-shopping-cart>
    </div> -->
<!-- <div class='col-lg-3 pull-right' style="max-height: 100px;z-index:1">
    <app-shopping-cart></app-shopping-cart>
</div> -->
<div>
    <router-outlet></router-outlet>
</div>



<!-- <app-messages></app-messages> -->