<div class="panel-body"></div>
<mat-tab-group>
    <mat-tab label="Customer Info">
        <div class="panel-body">
            <div class='row'>
                <div class='col-lg-12'>
                    <b>Customer Details</b>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-lg-3'>
                    <div class='col-lg-6'>
                        <label class="radio-inline">
                            <input type="radio" name="usage" value="individual" checked> Individual
                        </label>
                    </div>
                    <div class='col-lg-6'>
                        <label class="radio-inline">
                            <input type="radio" name="usage" value="commercial"> Commercial
                        </label>
                    </div>
                </div>
            </div>

            <br>
            <div class='row'>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Document Type</div>
                    <select class="form-control" disabled [(ngModel)]='basicInfo.documentType'>
                        <option value=''>Pls Select</option>
                        <option value='HKID'>HKID</option>
                        <option value='Travel'>Travel</option>
                        <option value='Birth'>Birth</option>
                    </select>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Document No. </div>
                    <input class="form-control" disabled [(ngModel)]='basicInfo.documentNum'>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Date of Birth</div>
                    <p-calendar dateFormat='d M yy' inputStyleClass='form-control' [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%','border-color':'#ccc'}"></p-calendar>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Title</div>
                    <select class="form-control">
                        <option value=''>Pls Select</option>
                        <option value='Miss' selected>Miss</option>
                        <option value='Mrs'>Mrs</option>
                        <option value='Mr'>Mr</option>
                    </select>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Family Name</div>
                    <input class="form-control" value='Wong'>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Given Name</div>
                    <input class="form-control" value='Tai Yan Brenda'>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Contact Mobile No.</div>
                    <input class="form-control" [(ngModel)]='basicInfo.num'>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted">Contact Fixed Line No.</div>
                    <input class="form-control" [(ngModel)]='basicInfo.contactFixedLineNum'>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Contact Email Address</div>
                    <input class="form-control" [(ngModel)]='basicInfo.contactEmailAddress'>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-lg-8'>
                    <div class="text-muted">Registered Address</div>
                    <input class="form-control"
                        value='Flat B, 17/F, Happy Building, 123 Fortune Road, Kowloon, Hong Kong'>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted">&nbsp;</div>
                    <button class="btn btn-primary">Address Input</button>
                    <label class="checkbox-inline" style="margin-left: 10px">
                        <input type="checkbox" value="afterwards" name="afterwards">No Address Proof
                    </label>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Language</div>
                    <select class="form-control">
                        <option value=''>Pls Select</option>
                        <option value='eng' selected>English</option>
                        <option value='chn'>Chinese</option>
                        <option value='jap'>Japanese</option>
                    </select>
                </div>
                <div class='col-lg-4 br'>
                    {{'TheClub account: '+basicInfo.contactEmailAddress}}
                </div>

            </div>
            <div class='row br'>
                <div class='col-lg-11 br'>
                    <b>Subscriber and Actual Customer Relationship</b>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="25%">Subscriber</th>
                                <th width="35%">Customer</th>
                                <th width="10%">Relationship</th>
                                <th width="30%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let r of relationship">
                                <td width="25%">{{r.subscriber}}</td>
                                <td width="25%">{{r.customer}}</td>
                                <td width="25%">{{r.relationship}}</td>
                                <td>
                                    <ng-container *ngFor='let action of r.action'>
                                        <a>{{action}}</a>
                                    </ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='row'>
                <br><br>
                <div class='col-lg-11'>
                    <b>Related Registration</b>
                </div>
                <div class='col-lg-1'>
                    <button class="btn btn-default" (click)="add()">Add</button>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Registration</th>
                                <th width="50%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of [1]">
                                <td width="25%">HKTCare</td>
                                <td><a>Remove</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <b>Billing Information</b>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="afterwards" name="correspondence ">Correspondence / Billing
                        address is same as registered address
                    </label>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <div class="text-muted" style="padding-bottom: 5px">Bill Medium</div>
                </div>
            </div>
            <div class='row'>
                <div class='col-lg-2'>
                    <label class="checkbox-inline" style="margin-right:80px"><input type="checkbox" value="afterwards"
                            name="billMedium">SMS</label>
                </div>
                <div class='col-lg-2'>

                    <label class="checkbox-inline" style="margin-right:80px"><input type="checkbox" value="afterwards"
                            name="billMedium">Email</label>

                </div>
                <div class='col-lg-2'>
                    <label class="checkbox-inline" style="margin-right:80px"><input type="checkbox" value="afterwards"
                            name="billMedium">Paper</label>
                </div>
            </div>
            <div class='row'>
                <br><br>
                <div class='col-lg-12'>
                    <b>Paper Bill Change Information</b>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="25%">Charge Type</th>
                                <th width="15%">Charge Amt</th>
                                <th width="10%">Waive Indicator</th>
                                <th width="35%">Waive Reason</th>
                                <th width="15%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of [1]">
                                <td>Paper Summary Recurring</td>
                                <td>$10</td>
                                <td>No</td>
                                <td></td>
                                <td><a>Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Bill Language</div>
                    <select class="form-control">
                        <option value=''>Pls Select</option>
                        <option value='1'>Bilingual</option>
                        <option value='2'>Chinese</option>
                        <option value='3'>English</option>
                        <option value='4'>Japanese</option>
                    </select>
                </div>
            </div>
            <div class='row'>
                <br><br>
                <div class='col-lg-12'>
                    <b>Personal Information Collection Statement</b>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <label class="checkbox-inline"><input type="checkbox" value="afterwards" name="receiveAggrement ">Don't want to receive any
                        promotional gifts, discounts, offers or materials</label>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Payment Info" [disabled]="this.configType=='group'">
        <div class="panel-body">
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <b>Payment Method</b>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <label class='checkbox-inline'><input type="checkbox" value="afterwards" name="correspondence ">New Account</label>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <button class="btn" style="padding-top:0px;padding-bottom:0px;margin-top: -3.5px;margin-left: 3px"
                        disabled>
                        Choose from existing<br>payment method
                    </button>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-2'>
                    <label class="radio-inline">
                        <input type="radio" name="payment" value="individual" checked> Credit Card
                    </label>
                </div>
                <div class='col-lg-2'>
                    <label class="radio-inline">
                        <input type="radio" name="payment" value="commercial"> Cash
                    </label>
                </div>
                <div class='col-lg-2'>
                    <label class="radio-inline">
                        <input type="radio" name="payment" value="individual"> Direct Debit
                    </label>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-3'>
                    <div class="text-muted" mandatory>Card Holder Name</div>
                    <input class="form-control" value='BRENDA WONG'>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Card Holder Document Type</div>
                    <select class="form-control" [(ngModel)]='basicInfo.documentType'>
                        <option value=''>Pls Select</option>
                        <option value='HKID'>HKID</option>
                        <option value='Travel'>Travel</option>
                        <option value='Birth'>Birth</option>
                    </select>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Card Holder Document No.</div>
                    <input class="form-control" [(ngModel)]='basicInfo.documentNum'>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Credit Card Type</div>
                    <select class="form-control">
                        <option value=''>Pls Select</option>
                        <option value='VISA' selected>VISA</option>
                        <option value='Master'>Master</option>
                    </select>
                </div>
                <div class='col-lg-4'>
                    <div class="text-muted" mandatory>Credit Card No.</div>
                    <input class="form-control" value='4111********1111'>
                </div>
                <div class='col-lg-3'>
                    <div>&nbsp;</div>
                    <button class="btn btn-primary">Capture</button>
                </div>
            </div>
            <div class='row'>
                <br><br>
                <div class='col-lg-12'>
                    <b>Upfront Payment Information</b>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="30%">Item</th>
                                <th width="10%">Charge Amt</th>
                                <th width="15%">Waive Indicator</th>
                                <th width="35%">Waive Reason</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let info of upfrontPaymentInformation">
                                <td>{{info.item}}</td>
                                <td>{{info.chargeAmt}}</td>
                                <td>{{info.waiveIndicator}}</td>
                                <td>{{info.waiveReason}}</td>
                                <td>
                                    <ng-container *ngFor='let action of info.action'>
                                        <a>{{action}}</a>
                                    </ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='row'>
                <br><br>
                <div class='col-lg-12'>
                    <b>Deposit Information</b>
                </div>
            </div>
            <div class='row'>
                <br>
                <div class='col-lg-12'>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="30%">Item</th>
                                <th width="10%">Charge Amt</th>
                                <th width="10%">Waive Indicator</th>
                                <th width="40%">Waive Reason</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of [].constructor(1)">
                                <td>No Address Proof Deposit</td>
                                <td>$500</td>
                                <td>No</td>
                                <td></td>
                                <td><a>Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </mat-tab>
</mat-tab-group>
<div class="panel-body">
    <div class='row'>
        <br>
        <div class='col-lg-12' style="text-align: right">
            <button class="btn btn-primary" (click)="next()">Next</button>
        </div>
    </div>
</div>