<div class="panel-body">
    <div class='row'>
        <div class='col-lg-9 col-md-12 col-xs-12 text-danger'>
                <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>
            <!-- <app-add-to-cart></app-add-to-cart> -->
        </div>
        <div class="pull-right" *ngIf="activeIndex==1">
            <app-shopping-cart></app-shopping-cart>
        </div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>
<!-- <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step>

            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <input matInput placeholder="Last name, First name" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>

    </mat-step>
    <mat-step optional>
        
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>

    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper> -->