/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body .ui-overlaypanel .ui-overlaypanel-content {
  padding: 0em;
}

//@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
//@import "../node_modules/primeng/resources/primeng.min.css";
//@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/nova-light/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
thead {
  background-color: #eee;
}

.mandatory:after {
  content: " *";
  color: red;
}

label {
  font-weight: normal;
}

.btn-wrap {
  white-space: normal;
  line-height: 15px;
  padding: 2px 8px 2px 8px;
}

.btn-link-wrap {
  white-space: normal;
  line-height: 15px;
  padding: 0px 20px 0px 0px;
  text-align: left;
}

.br:before {
  content: "\A";
  white-space: pre-line;
}
