<div class="panel-body">
    <div class='row'>
        <div class='col-lg-2 col-md-3 col-xs-3'>
            <app-filter-menu (search)="search($event)" [categories]="categories"></app-filter-menu>
        </div>
        <div class='col-lg-9 col-md-8 col-xs-8'>
            <div>
                <div class='row col-lg-8'>Acquisition Recommendation<br></div>
                <br><br>
                <div class='row col-lg-8'>Items 1-4 of 4</div>
                <br><br>
                <div class='row'>
                    <div class='col-lg-3 col-md-3 col-xs-3' *ngFor='let r of recom'>
                        <app-product [product]="r" (addToCart)="addToCart($event)"></app-product>
                    </div>
                </div>
            </div>
            <div>
                <div class='row col-lg-8'>Other suggested Acquisition / Upgrade / Retention / Add-on<br></div>
                <br><br>
                <div class='row col-lg-8'>Items 1-4 of 4</div>
                <br><br>
                <div class='row'>
                    <div class='col-lg-3 col-md-3 col-xs-3' *ngFor='let r of otrecom'>
                        <app-product [product]="r" (addToCart)="addToCart($event)"></app-product>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div class='row'>
        <div class='col-lg-12'>
            <p>Clubpoint in this account: <img [src]="pic.point" width="20px" height="20px" /> 391 -
                Clubpoint burned in this order: <img [src]="pic.point" width="20px" height="20px" /> 0 +
                Clubpoint earned in this order: <img [src]="pic.point" width="20px" height="20px" />0
            </p>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <p>Available Clubpoint: <img [src]="pic.point" width="20px" height="20px" /> 391</p>
        </div>
    </div>
    <div class="row">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    Reward can choose
                    <app-bubble text="1"></app-bubble>
                </ng-template>
                <ng-container>
                    <div class='col-lg-2 col-md-3 col-xs-3' *ngFor='let r of clubrecom'>
                        <br>
                        <app-product [product]="r" (addToCart)="addToCart($event)"></app-product>
                    </div>
                </ng-container>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Earning <img [src]="pic.point" width="20px" height="20px" />109 more can choose
                    <app-bubble text="12"></app-bubble>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Earning <img [src]="pic.point" width="20px" height="20px" />509 more can choose
                    <app-bubble text="34"></app-bubble>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="row" [hidden]="this.isvas!='Y'">
        <div class='col-lg-12' style="text-align: end">
            <button class="btn btn-primary" (click)="close()">Close</button>
            <div class='col-lg-12'>
            </div>
        </div>